<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title%></title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
</head>
<body>
<h1><%=str%>></h1>
wewqe
<button class="btn btn-default">345</button>
<% include error.html%>
</body>
<script src="/js/jquery-1.12.4.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</html>