<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>管理员界面</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
</head>
<body>
<h3>
  欢迎管理员
    <span id="name1" class="name1"><%=name%></span>
  登录系统
</h3>
<input id="name" type="text" name="name" value="">
<button class="btn btn-default">修改</button>
<script src="/js/jquery-1.12.4.js"></script>
<script>
  $(function(){
      $('.btn').click(function(){
          console.log($('#name1').html());
          $.ajax({
              type:'GET',
              url: '/users/query',
              data:'id='+$('#name').val()+'&name2='+$('#name1').html(),
              success:function(msg){
                console.log(msg);
              },
              error:function(){
                  console.log('error')
              }
          })
      })
  });
</script>
</body>
</html>